<div class="jumbotron">
	<%= link_to :back do %>
  <span class="glyphicon glyphicon-menu-left blue left"></span>
  <% end %>
	<h1>Editing Pin</h1>

<%= render 'form' %>

<%= link_to 'Show', @pin, class: "btn purple white-link"  %>
</div>