<%= link_to :back do %>
 	<span class="glyphicon glyphicon-menu-left accentFont left"></span>
<% end %>
<div class="container center">
	<i class="material-icons bigIcon header1">bubble_chart</i>
	<h1 class="header1">Blow Bloon</h1>
	<hr>
	<div class="form-group">
		<%= render 'form' %>
	</div>
</div>

