<div id="landPic">
	<%= image_tag('https://scontent-arn2-1.xx.fbcdn.net/v/t1.0-9/14595721_1344831528890954_4090041585288540138_n.jpg?oh=52b5cd5e785f9225f01258713d498a52&oe=58A3AE73', class: "piccie")%> 
	
	<div class="btn btn-primary logBtn">
        	<%= link_to "LOGIN", new_user_session_path, class: "white-link" %>
	</div>
	<div class="landDiv right"> 
		<%= image_tag('icon.jpg', class: 'landIcon inline') %>  <h1 class="inline biggest">BloonBlow</h1>
		<h2 class="middle">Share, Discover and Judge ideas</h2>
 		<%= link_to "Get Started", new_user_registration_path, class: "btn turqoise btn-lg " %>
	</div>
	<div class="downBtn">
	<a href="#about"><i class="material-icons bigIcon white">keyboard_arrow_down</i></a>
	</div>
</div>
<div id="about">
<div class="center">
<a href="#landPic"><i class="material-icons bigIcon">keyboard_arrow_up</i></a>
<br>
	<p>
 	<i class="material-icons bigIcon">present_to_all</i>
 	<i class="material-icons bigIcon">explore</i>
 	<i class="material-icons bigIcon">gavel</i>
	 <h1 class="aboutHeader">Share</h1><h1 class="aboutHeader">Discover</h1><h1 class="aboutHeader">Judge</h1>
	 </p>
	 </div>
	 <h3>At BloonBlow, you can share any idea you want by "Blowing a Bloon", we can't promise that people will love it, we can only promise to deliver a fast and simple platform where you can hang out.<br><br>Explore others ideas easily and be inspired by thinkers from all over the world and share their ideas seamlessly on Facebook and Twitter. You can find anything on BloonBlow, from complex and well though-out statements, to half drunken suggestions.<br><br> On BloonBlow you can do what people love to do most online, judge. Through a simple voting system you can judge other peoples Bloons and either Blow them up, or Pop them. By looking at the Blows and Pops, BloonBlow sets a grade on your Bloon, so you can see if it's the best idea ever, or if it's just okay.</h3>
</div>
</div>