<div class="container">
	<div class="btn btn-primary">
	<%= link_to "LOGIN", new_user_session_path, class: "white-link" %>
</div>
<div class="jumbotron center">
<h2>The</h2><h1>BubbleBlow</h1>
<p>Share your ideas instantly</p>

	<%= link_to "Sign Up", new_user_registration_path, class: "btn accentColor btn-lg" %>
	<%= link_to "BubbleBlow?", about_path, class: "btn darkpurpleColor btn-lg" %>
	<br>
	<br>

</div>
 

</div>

