<div class="container">
	<div class="clean-btn">
	<%= link_to "LOGIN", new_user_session_path %>
</div>
<div class="jumbotron center">
<h1>Welcome to Crunsher 2.0</h1>
<p>For anyone that has an idea</p>
<p> 
	<%= link_to "Sign Up", new_user_registration_path, class: "btn btn-primary btn-lg white-link" %>
</p>
</div>
</div>

