<div class="container">
	<div class="clean-btn">
	<%= link_to "LOGIN", new_user_session_path %>
</div>
<div class="jumbotron center">
<h2>The</h2><h1>BubbleBlow</h1>
<p>Share your ideas instantly</p>

	<%= link_to "Sign Up", new_user_registration_path, class: "btn btn-primary btn-lg white-link" %>
	<%= link_to "BubbleBlow?", about_path, class: "btn btn-info btn-lg" %>
	<br>
	<br>

</div>
 

</div>

