<div class="container">
<div class="jumbotron">
	<%= link_to :back do %>
  <span class="glyphicon glyphicon-menu-left blue left"></span>
  <% end %>

	<h1> About us </h1>
<p> BloonBlow is a website dedicated to enable you to blow the bubbles of your mind. Whenever you have an idea (a "bloon") you can instantly share it with the rest of the world and see how the world reacts. There is two possible responses to a bloon. You can either pop a bloon or blow it. When blowing a bloon, you give a positive response and think that the idea is good. When popping a bloon, you give a negative response and thinks that the idea... Well, maybe shouldn't go further.</p>
</div>
</div>