
<div id="firstjumbo" class="jumbotron center">
	<h2>Thanks for signing up!</h2>
	<p>At BubbleBlow, you can share your ides instantly and get response. You expreess your ideas in the form of bubbles and get response through pops an blows. <br><br>If you see an idea that you like you simply press the <i id ="blow" class="material-icons accentFont">blur_on</i> icon to blow up the bubble. If you see an idea that you don't like you press the <i id ="pop" class="material-icons accentFont">flare</i> icon to pop the bubble. <br> <br> A bubble also gets a grade, depending on how many pops and blows it has recieved. <br><br> <center>Sounds fun right?</p>
<h4> You haven't blown a bubble yet, and why put it up?</h4>
<%= link_to "Let's Go!", new_pin_path, class: "btn accentColor btn-lg" %>
</center>
</div>
