<div class="container center">
	<i class="material-icons bigIcon header1">insert_emoticon</i>
	<h1 class="header1">Welcome!</h1>
	<hr>
	<div class="form-group">
		<p>At BloonBlow, you can share your ides instantly and get response. You express your ideas in the form of Bloons and get response through pops an blows.
		 <br>
		 If you see an idea that you like you simply press the Blow icon to blow up the Bloon. 

		 <br>

		 <i class="pnb material-icons blue blow inline">sentiment_very_satisfied</i>

		  <i class="pnb material-icons inline">arrow_forward</i>

		  <i class="pnb material-icons blue blow inline">blur_on</i> 
		  <br>

If you see an idea that you don't like you press the Pop icon to pop the bloon.
<br>


		  <i class="pnb material-icons blue pop inline">sentiment_dissatisfied</i>

		  <i class="pnb material-icons inline">arrow_forward</i>
		  <i class="pnb material-icons deleteColor pop">flare</i>
		  <br>
		 A bloon also gets a grade, depending on how many pops and blows it has recieved.
		  <br><br> 
		  <div class="center"><h4>Sounds fun right?</h4></p>
<h4> You haven't blown a bubble yet, and why put it up?</h4>
<%= link_to "Let's Go!", new_pin_path, class: "btn accentColor btn-lg" %>
		</div>
	</div>
</div>