/*@import url(https://fonts.googleapis.com/css?family=Roboto:200);*/
@import url(https://fonts.googleapis.com/css?family=Montserrat);

$font-family-sans-serif: 'Montserrat', 'Roboto','Gotham SSm', sans-serif;
$navbar-default-bg: #9B26AF;
$navbar-default-link-color: #ecf0f1;
$jumbotron-bg: rgba(236, 240, 241, 0.6);
$body-color: #bdc3c7;
$darkpurplecolor: #8e44ad;


@import 'bootstrap-sprockets';
@import 'bootstrap';

a:hover {
  color: #34495e !important;
  transition: all 0.6s ease;
}

#footer {
  text-align: center;
  height: 15px;
}

.navbar-text {
  color: white !important;
  font-size: 18px;
}

.btn-primary {
  margin-top: -5px !important; 
}

a {
  transition: all 0.6s ease;
}

html {
-webkit-font-smoothing: antialiased;
}

#landingjumbo .bigIcon {
  margin-left: 40px;
  margin-right: 40px;
  color: #2c3e50;
}

#landingjumbo h1{
display: inline-block;
margin-right: 30px;
margin-left: 30px;
font-size: 3vw;
}

.brandPic{
  width: 40px;
  height: 40px;
  border-radius: 50%;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  margin-top:2px;
}

.signip {
  border: 10px;
  border-radius: 5px;
  padding: 5px;
  width: 10%;
  display: inline-block;
  text-align: center;
}

#in {
  background-color: transparent;
  border: 1px solid white;
  text-align: center;
  float: left;
  height: 50px;
  width: 100px;
  margin-left: 20px;
  position: relative;
  border-radius: 3px;
  margin-top: 50px;
}

#in h3 {
  font-size: 30px;
  position: absolute;
  margin-left: 20px;
}

#landingjumbo {
  background-color: blue;
  width: 100%;
  margin-top: 200px;
  display: block;

}

.lhminor {
  color: white;
  margin-left: 7%;
  margin-top: 50px;
}

.lhminorer {
  margin-left: 5%;
  color: white;
}


p {
  font-size: 150%;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  color: white;
}

.landheader {
  display: inline-block;
  color: white;
 margin-top: -1px;
}

.navbar-toggle {
  border: none;
  background: transparent !important;
}

.icon-bar {
  background-color: white!important;
}

.form-group label {
  font-size: 20px;
  color: rgba(52, 73, 94,1.0);
}

.form-group i {
  font-size: 12px;
  color: rgba(52, 73, 94,1.0);
}


.jumbotron p {
 color: white;
}

.jumbotron h2 {
  color: white;
}

.jumbotron h1 {
  /*font-size: 8vw;*/
  color: white;
  margin-top: -10px;
  font-weight: normal;
 }

.jumbotron {
  margin-top: 20px;
  /*background: linear-gradient(to bottom right, #8e44ad, #9b59b6, #2980b9);*/
}

.small {
  font-size: 12px
}

.right {
  float: right;
  margin-right: 20px;
}

.left{
  float: left;
  margin-left: 10px;
}

.jumbotron a {
  color: white !important;
}

.form-control {
  width: 45%;
}

.panel1 {
  width: 55% !important;
  color: rgba(236, 240, 241, 0.5) !important; 
}

#overflow {
  overflow: hidden;
  max-height: 300px;
  margin-top: 0px;
}
  
  .field {
    min-width: 200px;
  }

  .panel {
    min-width: 250px !important;
    margin-top: 50px;
  }

  .white-link  {
    color: white !important;
  }

  .panel2 {
    margin-top: 80px;
  }

  .desc:hover img {
    -webkit-filter: blur(1.8px);
    transition: all 0.55s ease;
    z-index:1;

  }

  .purple {
    background-color: #9B26AF;
  }

  #firstjumbo h2 {
    color: white;
   
  }

  #firstjumbo h4 {
    color: white;

  }

.flash {
  margin-top: 12px !important;
  margin-bottom: 5px !important;
  width: 20%;
  margin: 0 auto;
  text-align: center;
  overflow: hidden;
  min-width: 250px;
}

.btn {
  font-weight: bold !important;
  font-size: 20px;
  margin-top: 1vw;
}

#editPanel {
  background-color: #691A99;
}

#editPanel h1{
color: white;
}

.accentColor {
  background-color: #68EFAD;
  color: white;
}

.accentFont {
  color: #68EFAD;
}

.glyphicon-menu-left {
 font-size: 150%
}

.deleteColor {
  color: #c0392b;
}

.bigIcon {
  font-size: 8vw !important;
}

#imageUpload {
  color: white;
}

#firstjumbo {
  background-color:#691A99;
}

.userFont {
  color: #691A99;
}

.darkpurpleFont {
  color: #691A99;
}

.darkpurpleColor {
  background-color: #691A99;
}

.pinPic {
  display: inline;
}

.smallFont {
  font-size: 2vw;
}

.back {
  margin-top:1vw;
}

.form-control {
  min-width: 250px;
}

.wide {
  min-width: 280px !important;
}

.blue {
  color: #2980b9;
}

#bubbleBtn {
  text-align: center;
  width: 15vw;
  height: 5vw;
  margin: 2vw;
}

.header1 {
  color:black;
  opacity: 0.8;
  font-weight: lighter;
}

.navIcon {
  font-size: 20px;
}
/*kom ihåg, shift cmd och 7 lägger hel rad i kommentar*/
/*transition: all 0.5s ease; scale: (0.5,0.5);*/







  