@import url(https://fonts.googleapis.com/css?family=Roboto:100);

$font-family-sans-serif: 'Roboto','Gotham SSm', sans-serif;
$body-bg: white;
$navbar-default-bg: #8e44ad;


$navbar-default-link-color: #ecf0f1;
$navbar-height: 40px;
$navbar-default-brand-color: white;
$jumbotron-bg: #bdc3c7;

@import 'bootstrap-sprockets';
@import 'bootstrap';  

.form-group label {
  font-size: 20px;
  font-weight: bolder;
  color: #34495e;
}

.center {
	text-align: center;
}

.jumbotron p {
  /*color: #8e44ad;*/
  color: #34495e;
}

.jumbotron h2 {
  color:#34495e;
}

.jumbotron h4 {
  color:#34495e;
}

.jumbotron h1 {
  /*color: #8e44ad;*/
  color: #34495e;
  margin-top: -10px;
  font-size: 100px;
  font-weight: bold;
 }

.jumbotron {
	opacity: 0.7;
  margin-top: 20px
}

.white {
	color:white;
}

.right {
	float: right;
	margin-left: 20px;
}

.left{
	float: left;
	margin-left: 10px;
}

.cbrand {
	font-weight: bold;
	float: right;
}

.navbar-toggle {
  border: none;
  background: transparent !important;
}

.icon-bar {
	background-color: white !important;
}

.navbar a:hover {
	
	text-decoration:underline !important;
}

.opa {
	opacity: 0.2 !important;
}

.blue {
	color:blue !important;
}

@media (min-width: 768px) and (max-width: 991px) {
    .navbar-collapse.collapse {
        display: none !important;
    }
    .navbar-collapse.collapse.in {
        display: block !important;
    }
    .navbar-header .collapse, .navbar-toggle {
        display:block !important;
    }
    .navbar-header {
        float:none;
    }
}

.navbar a {
  color: white !important;
}

a {
  color: #9b59b6 !important;
  
}
.jumbotron a {
  color: white !important;
}

.purplefont {
  color: #9b59b6 !important;
}

.dropdown-menu a {
  color: #9b59b6 !important;
}

.btn a {
  color:black !important;
  opacity: 1;
}

.form-control {
  width: 45%;
}

.panel1 {
  width: 55% !important;
  opacity: 0.7;
}

a:active {
    font-weight: bold;
  }

  #edit {
    opacity: 0.8 !important;
  }

#overflow {
  overflow: hidden;
  max-height: 300px;
  margin-top: 0px;
}
  
  .field {
    min-width: 210px;
  }

  .panel {
    min-width: 250px !important;
  }

  .btn a{
color: white !important;
  }

  .white-link  {
    color: white !important;
  }

  .panel2 {
    margin-top: 80px;
  }

  .clean-btn {
    height: 50px;
    width: 100px;
    margin-bottom: 150px;
    margin-top: 50px;
    border-style: solid;
    border-color: white;
    border-width: 1px;
    text-align: center;
  }

  .clean-btn {
    border-radius: 3px;
    margin-bottom: 20px;
    margin-top: 25px;
    border-style: solid;
    border-color: white;
    border-width: 1px;
    text-align: center;
    position: relative;
    transition: all 0.5s ease;
  }
  
  .clean-btn a {
    font-size: 15px;
    color: white !important;
    position: absolute;
    position: absolute;
  top: 45%;
  left: 45%;
  transform: translate(-45%, -45%);
  transition: all 0.5s ease;

  }

/*.clean-btn:hover{
  background-color: #9b59b6;
  border-color: #9b59b6;
}*/

  .desc:hover img {
    -webkit-filter: blur(1.8px);
  transition: all 0.55s ease;
 z-index:1;

  }

  .purple {
    background-color:#9b59b6;
  }

  .prof_img {
    border-radius: 100px;
    width:200px;
    height:200px;
  }

  #firstjumbo {
    background-color: #9b59b6;
  }

  #firstjumbo h2 {
    color: white;
   
  }

  #firstjumbo h4 {
    color: white;

  }

/*transition: all 0.5s ease; scale: (0.5,0.5);*/




  