$body-bg: #bdc3c7 ;
$navbar-default-bg: #8e44ad;
$link-color: white;
$navbar-default-link-color: white;
$navbar-height: 40px;
$navbar-default-brand-color: white;
$jumbotron-bg: white;
@import 'bootstrap-sprockets';
@import 'bootstrap';

.center {
	text-align: center;
}

.navbar-brand {
	font-weight:bold;
}

.white {
	color:white;
}

.right {
	float: right;
}

.left{
	float: left;
	margin-left: 10px;
}

.cbrand {
	font-weight: bold;
	float: right;
}