
#profileHeader {
	color: #7f8c8d;
}

.profimg {
    background-color: white;
    border: 1px solid #d9d9d9;
    border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    height: 200px;
    width: 200px;
}

.profimgsm {
    background-color: white;
    border: 1px solid #d9d9d9;
    border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    height: 40px;
    width: 40px;
    margin-left: 2px;
}

.profimgmd {
    background-color: white;
    border: 1px solid #d9d9d9;
    border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    height: 8vw;
    width: 8vw;
}